# Tech Layoffs EDA

This workbook relates to the Exploratory Data Analysis of the Tech Layoffs dataset from kaggle.

In [2]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

/tmp/ipykernel_49834/3081049648.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 1. Data Loading

In [18]:
df = pd.read_csv('tech_layoffs_til_Q1_2024.csv', delimiter=';')
df.head()

,Nr.,#,Company,Location_HQ,Country,Continent,Laid_Off,Date_layoffs,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Industry,Stage,Money_Raised_in_$_mil,Year,lat,lng
0,1,3,ShareChat,Bengaluru,India,Asia,200.0,2023-12-20,15.0,1333.0,1133.0,Consumer,Series H,$1700,2023,12.97194,77.59369
1,2,4,InSightec,Haifa,Israel,Asia,100.0,2023-12-19,20.0,500.0,400.0,Healthcare,Unknown,$733,2023,32.81841,34.98850
2,3,6,Enphase Energy,San Francisco Bay Area,USA,North America,350.0,2023-12-18,10.0,3500.0,3150.0,Energy,Post-IPO,$116,2023,37.54827,-121.98857
3,4,7,Udaan,Bengaluru,India,Asia,100.0,2023-12-18,10.0,1000.0,900.0,Retail,Unknown,NaN,2023,12.97194,77.59369
4,5,14,Cruise,San Francisco Bay Area,USA,North America,900.0,2023-12-14,24.0,3750.0,2850.0,Transportation,Acquired,$15000,2023,37.77493,-122.41942

In [19]:
df.columns

Index(['Nr.', '#', 'Company', 'Location_HQ', 'Country', 'Continent',
       'Laid_Off', 'Date_layoffs', 'Percentage', 'Company_Size_before_Layoffs',
       'Company_Size_after_layoffs', 'Industry', 'Stage',
       'Money_Raised_in_$_mil', 'Year', 'lat', 'lng'],
      dtype='object')

In [20]:
df.isna().sum()

Nr.                              0
#                                0
Company                          1
Location_HQ                      0
Country                          0
Continent                        0
Laid_Off                       107
Date_layoffs                     0
Percentage                     102
Company_Size_before_Layoffs    161
Company_Size_after_layoffs     136
Industry                         0
Stage                            0
Money_Raised_in_$_mil           76
Year                             0
lat                              0
lng                              0
dtype: int64

There seem to be quite a few missing values. These will be investigated in the next section.

### 1.1 Investigating missing columns

There is one missing value for Company, so this value will just be removed. In order to evaluate the impact of the other missing values, I will need to calculate the percentage of each column which is missing.

In [53]:
def print_missing_percentage(df: pd.DataFrame, col_name: str) -> float:
    mask = (df[col_name].isna())
    len_missing = len(df[mask])
    len_df = len(df)
    percentage_missing = (len_missing / len_df) * 100.0
    print(f"col_name: {col_name}, missing (%): {percentage_missing}")
    return percentage_missing

In [54]:
missing_cols = ['Laid_Off', 'Percentage', 'Company_Size_before_Layoffs', 'Company_Size_after_layoffs', 'Money_Raised_in_$_mil']

In [56]:
missing_percentages = [print_missing_percentage(df, col) for col in missing_cols]

col_name: Laid_Off, missing (%): 6.399521531100478
col_name: Percentage, missing (%): 6.100478468899522
col_name: Company_Size_before_Layoffs, missing (%): 9.629186602870814
col_name: Company_Size_after_layoffs, missing (%): 8.133971291866029
col_name: Money_Raised_in_$_mil, missing (%): 4.545454545454546

Overall, I would say that the missing values to Laid_Off are the most significant, as the main goal of the dataset is to evaluate layoffs. Given this, I will most just remove these missing values, and then rerun the missing percentages to see how this has impacted to missing proportions.

In [58]:
missing_laid_off_mask = (df['Laid_Off'].isna())

In [59]:
df = df[~missing_laid_off_mask]

In [60]:
df.isna().sum()

Nr.                             0
#                               0
Company                         0
Location_HQ                     0
Country                         0
Continent                       0
Laid_Off                        0
Date_layoffs                    0
Percentage                     54
Company_Size_before_Layoffs    54
Company_Size_after_layoffs     53
Industry                        0
Stage                           0
Money_Raised_in_$_mil          58
Year                            0
lat                             0
lng                             0
dtype: int64

This has resulted in a significant change in the proportion of missing values. The Percentage, Company_Size_before_Layoffs and Company_size_after_layoffs have all basically halved. I will now recalculate the missing percentages based on the new data distribution.

In [61]:
missing_percentages = [print_missing_percentage(df, col) for col in missing_cols]

col_name: Laid_Off, missing (%): 0.0
col_name: Percentage, missing (%): 3.450479233226837
col_name: Company_Size_before_Layoffs, missing (%): 3.450479233226837
col_name: Company_Size_after_layoffs, missing (%): 3.386581469648562
col_name: Money_Raised_in_$_mil, missing (%): 3.706070287539936

The missing percentages are now around 3%, which is acceptable for removal. However, it is worth analysing these missing datasets to better understand what might be the cuase. My hunch is that the majority of missing data for Percentage and Company_Size will be accounted for by startups, as established companies need to report this data to shareholders.

Based on this, I will created a mask in an attempt to separate between these types of companies.

In [67]:
missing_data_mask = ((df['Percentage'].isna()) | (df['Company_Size_before_Layoffs'].isna()) 
                     | (df['Company_Size_after_layoffs'].isna()))

In [71]:
missing_data_df = df[missing_data_mask]
missing_data_df

,Nr.,#,Company,Location_HQ,Country,Continent,Laid_Off,Date_layoffs,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Industry,Stage,Money_Raised_in_$_mil,Year,lat,lng
1408,1409,3274,Orbotech,Yavne,Israel,Asia,100.0,2024-03-19,NaN,NaN,0.0,Manufact…,Acquired,NaN,2024,31.876886,34.738297
1411,1412,3277,Flock Freight,San Diego,USA,North America,54.0,2024-03-16,NaN,NaN,NaN,Logistics,Series D,$399,2024,32.715710,-117.164720
1412,1413,3278,Chipper Cash,San Francisco Bay Area,USA,North America,20.0,2024-03-15,NaN,NaN,NaN,Finance,Series C,$302,2024,37.774930,-122.419420
1444,1445,3310,PropertyGuru,Singapore,Singapore,Asia,79.0,2024-02-27,NaN,NaN,NaN,Real Estate,Post-IPO,$676,2024,1.289670,103.850070
1447,1448,3313,WayCool,Chennai,India,Asia,70.0,2024-02-26,NaN,NaN,NaN,Food,Unknown,$363,2024,13.087840,80.278470
1449,1450,3315,Redesign Health,New York City,USA,North America,77.0,2024-02-23,NaN,NaN,NaN,Healthcare,Series C,$315,2024,40.714270,-74.005970
1450,1451,3316,Carbon Health,San Francisco Bay Area,USA,North America,56.0,2024-02-23,NaN,NaN,NaN,Healthcare,Series D,$522,2024,37.774930,-122.419420
1452,1453,3318,Affirm,Pittsburgh,USA,North America,60.0,2024-02-21,NaN,NaN,NaN,Finance,Post-IPO,$1.500,2024,40.440620,-79.995890
1456,1457,3322,Aptiv,Krakow,Poland,Europe,250.0,2024-02-20,NaN,NaN,NaN,Transport…,Post-IPO,$8,2024,50.061947,19.936856
1473,1474,3339,Redesign Health,New York City,USA,North America,77.0,2024-02-13,NaN,NaN,NaN,Healthcare,Unknown,$315,2024,40.714270,-74.005970
1484,1485,3350,Pure Storage,San Francisco Bay Area,USA,North America,275.0,2024-02-08,NaN,NaN,NaN,Data,Post-IPO,$529,2024,37.774930,-122.419420
1488,1489,3354,Grammarly,San Francisco Bay Area,USA,North America,230.0,2024-02-07,NaN,NaN,NaN,Consumer,Unknown,$400,2024,37.774930,-122.419420
1493,1494,3359,Amazon,Seattle,USA,North America,400.0,2024-02-06,NaN,NaN,NaN,Retail,Post-IPO,$108,2024,47.606210,-122.332070
1497,1498,3363,BillGO,Fort Collins,USA,North America,80.0,2024-02-05,NaN,NaN,NaN,Finance,Series B,$119,2024,40.587178,-105.077011
1511,1512,3377,Illumina,San Diego,USA,North America,111.0,2024-02-01,NaN,NaN,NaN,Healthcare,Post-IPO,$28,2024,32.715710,-117.164720
1515,1516,3381,Trove Recommer…,San Francisco Bay Area,USA,North America,130.0,2024-01-31,NaN,NaN,NaN,Retail,Series E,$152,2024,37.774930,-122.419420
1516,1517,3382,CircleCI,San Francisco Bay Area,USA,North America,100.0,2024-01-31,NaN,NaN,NaN,Product,Series F,$315,2024,37.774930,-122.419420
1517,1518,3383,Thinx,New York City,USA,North America,95.0,2024-01-31,NaN,NaN,NaN,Retail,Acquired,$26,2024,40.714270,-74.005970
1526,1527,3392,TechCrunch,San Francisco Bay Area,USA,North America,7.0,2024-01-30,NaN,NaN,NaN,Media,Acquired,NaN,2024,37.774930,-122.419420
1531,1532,3397,DispatchHealth,Denver,USA,North America,88.0,2024-01-29,NaN,NaN,NaN,Healthcare,Series E,$733,2024,39.739150,-104.984700
1536,1537,3402,Microsoft,Seattle,USA,North America,1900.0,2024-01-25,NaN,NaN,NaN,Other,Post-IPO,$1,2024,47.606210,-122.332070
1539,1540,3405,Amperity,Seattle,USA,North America,20.0,2024-01-25,NaN,NaN,NaN,Marketing,Series D,$187,2024,47.606210,-122.332070
1544,1545,3410,Personio,Munich,Germany,Europe,100.0,2024-01-24,NaN,NaN,NaN,HR,Series E,$724,2024,48.137430,11.575490
1553,1554,3419,Cure.fit,Bengaluru,India,Asia,120.0,2024-01-23,NaN,NaN,NaN,Fitness,Series F,$625,2024,12.971940,77.593690
1554,1555,3420,GoStudent,Vienna,Austria,Europe,100.0,2024-01-23,NaN,NaN,NaN,Education,Series D,$686,2024,48.208490,16.372080
1555,1556,3421,GoTo,Boston,USA,North America,29.0,2024-01-23,NaN,NaN,NaN,Other,Acquired,$2,2024,42.358430,-71.059770
1556,1557,3422,Seedr,London,United Kingdom,Europe,15.0,2024-01-23,NaN,NaN,NaN,Finance,Acquired,$28,2024,51.508530,-0.125740
1558,1559,3424,Xendit,Jakarta,Indonesia,Asia,200.0,2024-01-22,NaN,NaN,NaN,Finance,Series D,$534,2024,-6.214620,106.845130
1559,1560,3425,TikTok,Los Angeles,USA,North America,60.0,2024-01-22,NaN,NaN,NaN,Consumer,Acquired,NaN,2024,34.052230,-118.243680
1565,1566,3431,Amazon,Seattle,USA,North America,30.0,2024-01-18,NaN,NaN,NaN,Retail,Post-IPO,$108,2024,47.606210,-122.332070
1568,1569,3434,YouTube,San Francisco Bay Area,USA,North America,100.0,2024-01-17,NaN,NaN,NaN,Media,Acquired,$11,2024,37.389389,-122.083210
1569,1570,3435,Sirplus,Berlin,Germany,Europe,60.0,2024-01-17,NaN,NaN,NaN,Food,Seed,NaN,2024,52.524370,13.410530
1575,1576,3441,Veeam,Columbus,USA,North America,300.0,2024-01-12,NaN,NaN,NaN,Data,Acquired,$500,2024,39.961180,-82.998790
1576,1577,3442,GrabCAD,Tallinn,Estonia,Europe,13.0,2024-01-12,NaN,NaN,NaN,Other,Acquired,$28,2024,59.436960,24.753530
1581,1582,3447,New Work SE,Hamburg,Germany,Europe,400.0,2024-01-11,NaN,NaN,NaN,Consumer,Post-IPO,NaN,2024,53.550730,9.993020
1588,1589,3454,Cloudflare,San Francisco Bay Area,USA,North America,40.0,2024-01-11,NaN,NaN,NaN,Security,Post-IPO,$332,2024,37.774930,-122.419420
1594,1595,3460,Google,San Francisco Bay Area,USA,North America,1000.0,2024-01-10,NaN,NaN,NaN,Consumer,Post-IPO,$26,2024,37.389389,-122.083210
1595,1596,3461,IAC,New York City,USA,North America,330.0,2024-01-10,NaN,NaN,NaN,Consumer,Post-IPO,NaN,2024,40.714270,-74.005970
1597,1598,3463,Beam Benefits,Columbus,USA,North America,74.0,2024-01-10,NaN,NaN,NaN,Healthcare,Series E,$168,2024,39.961180,-82.998790
1598,1599,3464,Instagram,San Francisco Bay Area,USA,North America,60.0,2024-01-10,NaN,NaN,NaN,Consumer,Acquired,$57,2024,37.451967,-122.177992
1603,1604,3469,Branch,Columbus,USA,North America,85.0,2024-01-09,NaN,NaN,NaN,Finance,Series C,$229,2024,39.961180,-82.998790
1606,1607,3472,Uber Freight,San Francisco Bay Area,USA,North America,40.0,2024-01-09,NaN,NaN,NaN,Logistics,Subsidi…,$2.700,2024,37.774930,-122.366080
1634,1635,3500,The Messenger,New York City,USA,North America,24.0,2024-01-02,NaN,NaN,NaN,Media,Unknown,NaN,2024,40.714270,-74.005970
1637,1638,3503,Paytm,Noida,India,Asia,1000.0,2023-12-25,NaN,NaN,NaN,Finance,Unknown,NaN,2024,8.496150,77.536010
1638,1639,3504,Intel,Sacramento,USA,North America,311.0,2023-12-21,NaN,NaN,NaN,Hardware,Post-IPO,$12,2024,38.581570,-121.494400
1646,1647,3512,Checkout.com,London,United Kingdom,Europe,80.0,2023-12-18,NaN,NaN,NaN,Finance,Series D,$1.800,2024,51.508530,-0.125740
1647,1648,3513,Arm Holdings,Shanghai,China,Asia,70.0,2023-12-18,NaN,NaN,NaN,Hardware,Post-IPO,NaN,2024,31.222220,121.458060
1649,1650,3515,eBay,Tel Aviv,USA,North America,20.0,2023-12-17,NaN,NaN,NaN,Retail,Post-IPO,$1.200,2024,32.080880,34.780570
1650,1651,3516,Glowforge,Seattle,USA,North America,30.0,2023-12-15,NaN,NaN,NaN,Manufact…,Series E,$133,2024,47.606210,-122.332070
1654,1655,3520,Solarisbank,Berlin,Germany,Europe,20.0,2023-12-14,NaN,NaN,NaN,Finance,Unknown,$385,2024,52.524370,13.410530
1662,1663,3528,Analog Devices,San Francisco Bay Area,USA,North America,111.0,2023-12-13,NaN,NaN,NaN,Manufact…,Post-IPO,NaN,2024,37.336166,-121.890591
1663,1664,3529,ForgeRock,San Francisco Bay Area,USA,North America,109.0,2023-12-13,NaN,NaN,NaN,Other,Acquired,$234,2024,37.774930,-122.419420
1664,1665,3530,Flex,San Francisco Bay Area,USA,North America,31.0,2023-12-13,NaN,NaN,NaN,Manufact…,Unknown,NaN,2024,37.774930,-122.419420
1667,1668,3533,TomTom,Lodz,Poland,Europe,45.0,2023-12-12,NaN,NaN,NaN,Transport…,Post-IPO,NaN,2024,51.768732,19.456991

In [69]:
print(f"Length of missing data: {len(missing_data_df)}")

Length of missing data: 54

In [70]:
missing_data_df['Company'].unique()

array(['Orbotech', 'Flock Freight', 'Chipper Cash', 'PropertyGuru',
       'WayCool', 'Redesign Health', 'Carbon Health', 'Affirm', 'Aptiv',
       'Pure Storage', 'Grammarly', 'Amazon', 'BillGO', 'Illumina',
       'Trove Recommer…', 'CircleCI', 'Thinx', 'TechCrunch',
       'DispatchHealth', 'Microsoft', 'Amperity', 'Personio', 'Cure.fit',
       'GoStudent', 'GoTo', 'Seedr', 'Xendit', 'TikTok', 'YouTube',
       'Sirplus', 'Veeam', 'GrabCAD', 'New Work SE', 'Cloudflare',
       'Google', 'IAC', 'Beam Benefits', 'Instagram', 'Branch',
       'Uber Freight', 'The Messenger', 'Paytm', 'Intel', 'Checkout.com',
       'Arm Holdings', 'eBay', 'Glowforge', 'Solarisbank',
       'Analog Devices', 'ForgeRock', 'Flex', 'TomTom'], dtype=object)

It looks like my initial theory was incorrect, as there seem to be alot of established companies (Instagram, Google, Microsoft) in the above list. On further reflection, it could be the case that the dataset is not up to date, as all of the entries which have missing values are from with last 3-4 months (December 2023 onwards). I will create a mask which filters the dataset based on the earliest entry in these missing values, to determine whether this is the case.

In [72]:
earliest_date = min(missing_data_df['Date_layoffs'])
earliest_date

'2023-12-12'

So the earliest entry in this missing dataset is 12/12/2023, so I will filter the original dataset based on this to determine if there is still missing data.

In [74]:
date_mask = (df['Date_layoffs'] < earliest_date)

In [76]:
filtered_df = df[date_mask]
filtered_df.isna().sum()

Nr.                             0
#                               0
Company                         0
Location_HQ                     0
Country                         0
Continent                       0
Laid_Off                        0
Date_layoffs                    0
Percentage                      0
Company_Size_before_Layoffs     0
Company_Size_after_layoffs      0
Industry                        0
Stage                           0
Money_Raised_in_$_mil          38
Year                            0
lat                             0
lng                             0
dtype: int64

Money_raised is now the only column which has missing values. I will take a quick look at the distribution of these missing entries.

In [78]:
filtered_df[filtered_df['Money_Raised_in_$_mil'].isna()]

,Nr.,#,Company,Location_HQ,Country,Continent,Laid_Off,Date_layoffs,Percentage,Company_Size_before_Layoffs,Company_Size_after_layoffs,Industry,Stage,Money_Raised_in_$_mil,Year,lat,lng
11,12,38,Navan,San Francisco Bay Area,USA,North America,145.0,2023-12-05,5.000000,2900.0,2755.0,Finance,Unknown,NaN,2023,37.44188,-122.14302
49,50,200,Epic Games,Raleigh,USA,North America,870.0,2023-09-28,16.000000,5438.0,4568.0,Consumer,Unknown,NaN,2023,35.77210,-78.63861
73,74,276,Zebra Technologies,Chicago,USA,North America,700.0,2023-08-28,7.000000,10000.0,9300.0,Manufacturing,Post-IPO,NaN,2023,41.85003,-87.65005
90,91,342,Discord,San Francisco Bay Area,USA,North America,37.0,2023-08-03,4.000000,925.0,888.0,Consumer,Series H,NaN,2023,37.77493,-122.41942
124,125,456,FNZ,London,United Kingdom,Europe,1000.0,2023-07-06,15.000000,6667.0,5667.0,Finance,Private Equity …,NaN,2023,51.50853,-0.12574
195,196,661,Sabre,Dallas,USA,North America,1100.0,2023-05-04,15.000000,7333.0,6233.0,Travel,Post-IPO,NaN,2023,32.78306,-96.80667
377,378,1103,Glovo,Barcelona,Spain,Europe,250.0,2023-01-30,6.000000,4167.0,3917.0,Food,Acquired,NaN,2023,41.38879,2.15899
378,379,1104,Delivery Hero,Berlin,Germany,Europe,156.0,2023-01-30,4.000000,3900.0,3744.0,Food,Post-IPO,NaN,2023,52.52437,13.41053
404,405,1173,Swiggy,Bengaluru,India,Asia,380.0,2023-01-20,6.000000,6333.0,5953.0,Food,Unknown,NaN,2023,12.97194,77.59369
415,416,1207,Vroom,New York City,USA,North America,275.0,2023-01-18,20.000000,1375.0,1100.0,Transportation,Post-IPO,NaN,2023,40.71427,-74.00597
421,422,1213,nCino,Wilmington,USA,North America,100.0,2023-01-18,7.000000,1429.0,1329.0,Finance,Post-IPO,NaN,2023,34.23556,-77.94604
426,427,1228,Lightspeed Company,Montreal,Canada,North America,300.0,2023-01-17,10.000000,3000.0,2700.0,Retail,Post-IPO,NaN,2023,45.50884,-73.58781
456,457,1314,Fate Therapeutics,San Diego,USA,North America,315.0,2023-01-09,57.000000,553.0,238.0,Healthcare,Post-IPO,NaN,2023,32.71571,-117.16472
487,488,1396,JD.ID,Jakarta,Indonesia,Asia,200.0,2022-12-14,30.000000,667.0,467.0,Retail,Post-IPO,NaN,2022,-6.21462,106.84513
501,502,1427,Swiggy,Bengaluru,India,Asia,250.0,2022-12-08,3.000000,8333.0,8083.0,Food,Unknown,NaN,2022,12.97194,77.59369
516,517,1452,Grover,Berlin,Germany,Europe,40.0,2022-12-07,10.000000,400.0,360.0,Retail,Unknown,NaN,2022,52.52437,13.41053
556,557,1559,Jumia,Lagos,Nigeria,Africa,900.0,2022-11-21,20.000000,4500.0,3600.0,Retail,Post-IPO,NaN,2022,6.45407,3.39467
577,578,1601,UiPath,New York City,USA,North America,241.0,2022-11-15,6.000000,4017.0,3776.0,Data,Post-IPO,NaN,2022,40.71427,-74.00597
580,581,1604,Deliveroo Australia,Melbourne,Australia,Australia,120.0,2022-11-15,100.000000,120.0,0.0,Food,Post-IPO,NaN,2022,-37.81400,144.96332
622,623,1706,Opendoor,San Francisco Bay Area,USA,North America,550.0,2022-11-02,18.000000,3056.0,2506.0,Real Estate,Post-IPO,NaN,2022,37.77493,-122.41942
669,670,1797,Byju's,Bengaluru,India,Asia,2500.0,2022-10-12,5.000000,50000.0,47500.0,Education,Private Equity …,NaN,2022,12.97194,77.59369
745,746,1976,Wayfair,Boston,USA,North America,870.0,2022-08-19,5.000000,17400.0,16530.0,Retail,Post-IPO,NaN,2022,42.35843,-71.05977
769,770,2035,Groupon,Chicago,USA,North America,500.0,2022-08-08,15.000000,3333.0,2833.0,Retail,Post-IPO,NaN,2022,41.85003,-87.65005
846,847,2215,Argo AI,Pittsburgh,USA,North America,150.0,2022-07-07,5.000000,3000.0,2850.0,Transportation,Unknown,NaN,2022,40.44062,-79.99589
892,893,2291,Udaan,Bengaluru,India,Asia,180.0,2022-06-27,4.000000,4500.0,4320.0,Retail,Unknown,NaN,2022,12.97194,77.59369
934,935,2363,Compass,New York City,USA,North America,450.0,2022-06-14,10.000000,4500.0,4050.0,Real Estate,Post-IPO,NaN,2022,40.71427,-74.00597
959,960,2402,Cazoo,London,United Kingdom,Europe,750.0,2022-06-07,15.000000,5000.0,4250.0,Transportation,Post-IPO,NaN,2022,51.50853,-0.12574
1010,1011,2505,Carvana,Phoenix,USA,North America,2500.0,2022-05-10,12.000000,20833.0,18333.0,Transportation,Post-IPO,NaN,2022,33.44838,-112.07404
1015,1016,2510,Vroom,New York City,USA,North America,270.0,2022-05-09,14.000000,1929.0,1659.0,Transportation,Post-IPO,NaN,2022,40.71427,-74.00597
1016,1017,2511,Reef,Miami,USA,North America,750.0,2022-05-06,5.000000,15000.0,14250.0,Transportation,Unknown,NaN,2022,25.77427,-80.19366
1051,1052,2582,Peloton,New York City,USA,North America,2800.0,2022-02-08,20.000000,14000.0,11200.0,Fitness,Post-IPO,NaN,2022,40.71427,-74.00597
1055,1056,2590,Delivery Hero,Berlin,Germany,Europe,300.0,2021-12-22,6.976744,4300.0,4000.0,Food,Post-IPO,NaN,2021,52.52437,13.41053
1106,1107,2740,Grab,Singapore,Singapore,Asia,360.0,2020-06-16,5.000000,7200.0,6840.0,Transportation,Series I,NaN,2020,1.28967,103.85007
1109,1110,2745,Uber,Amsterdam,Netherlands,Europe,225.0,2020-06-12,25.000000,900.0,675.0,Transportation,Post-IPO,NaN,2020,52.37403,4.88969
1214,1215,2919,Oscar Health,New York City,USA,North America,70.0,2020-04-23,5.000000,1400.0,1330.0,Healthcare,Unknown,NaN,2020,40.71427,-74.00597
1255,1256,2997,Groupon,Chicago,USA,North America,2800.0,2020-04-13,44.000000,6364.0,3564.0,Retail,Post-IPO,NaN,2020,41.85003,-87.65005
1359,1360,3183,OneWeb,London,United Kingdom,Europe,451.0,2020-03-27,85.000000,531.0,80.0,Aerospace,Unknown,NaN,2020,51.50853,-0.12574
1377,1378,3215,TripActions,San Francisco Bay Area,USA,North America,300.0,2020-03-25,25.000000,1200.0,900.0,Travel,Series D,NaN,2020,37.44188,-122.14302

Overall, I don't think that this is an important feature, so will just remove it.

So to summarise, the below filtering will be applied to the dataframe to resolve missing entries:

* 1. Filter entries prior to 12/12/2023
* 2. Remove any missing Money_raised columns

In [82]:
earliest_date = min(missing_data_df['Date_layoffs'])
to_remove_mask = ((df['Date_layoffs'] < earliest_date) & (~df['Money_Raised_in_$_mil'].isna()))

In [83]:
df = df[to_remove_mask]
df.isna().sum()

Nr.                            0
#                              0
Company                        0
Location_HQ                    0
Country                        0
Continent                      0
Laid_Off                       0
Date_layoffs                   0
Percentage                     0
Company_Size_before_Layoffs    0
Company_Size_after_layoffs     0
Industry                       0
Stage                          0
Money_Raised_in_$_mil          0
Year                           0
lat                            0
lng                            0
dtype: int64

## 2. Feature Analysis

For starters, it will be interesting to investigate if companies have multiple instances of layoffs (which is most likely to be the case), as these can then be grouped together as a single entry. It will also be interesting to see if any companies have separate entries based on the region or division (Uber, Uber Eats).

In [87]:
value_counts = df['Company'].value_counts()

Company
Gopuff               5
Blend                5
Chipper Cash         4
FrontRow             4
Pear Therapeutics    4
                    ..
&Open                1
Cisco                1
Wayflyer             1
Lokalise             1
Tamara Mellon        1
Name: count, Length: 1093, dtype: int64

There do seem to be quite a

In [ ]:
df = df.groupby('Company').sum()

In [ ]:
df.value_counts